body {font-family:'open sans', gill sans, verdana, sans-serif; font-weight:300; margin:0; background-color:#FFF; background-repeat:repeat-x; background-image: -moz-linear-gradient(top,  rgba(20,41,60,1) 0, rgba(78,146,206,1) 300px, rgba(255,255,255,1) 600px); /* FF3.6+ */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(20,41,60,1)), color-stop(300px,rgba(78,146,206,1)), color-stop(600px,rgba(255,255,255,1))); /* Chrome,Safari4+ */ background-image: -webkit-linear-gradient(top,  rgba(20,41,60,1) 0,rgba(78,146,206,1) 300px,rgba(255,255,255,1) 600px); /* Chrome10+,Safari5.1+ */ background-image: -o-linear-gradient(top,  rgba(20,41,60,1) 0,rgba(78,146,206,1) 300px,rgba(255,255,255,1) 600px); /* Opera 11.10+ */ background-image: -ms-linear-gradient(top,  rgba(20,41,60,1) 0,rgba(78,146,206,1) 300px,rgba(255,255,255,1) 600px); /* IE10+ */ background-image: linear-gradient(top,  rgba(20,41,60,1) 0,rgba(78,146,206,1) 300px,rgba(255,255,255,1) 600px); /* W3C */}
.ie7 body, .ie8 body, .ie9 body {background-image:url(../images/bg_tile.jpg); background-repeat:repeat-x;}
/* HIDE STUFF */
#globalnav, #aside {display:none;}
#main {background:transparent;}
.menu ul ul {display: none;}
/* H2 MENU TITLE + LINKS TO APPEAR ON EVERY PAGE */
#menutitle {margin:0; padding-top:1em; font-size:3em; color:#FFF; font-weight:300; text-shadow:0 0 5px #000;}
.community_globalnav {list-style:none; padding:0 0 150px 0; text-align:right; background:transparent url(../images/big_arrow.png) no-repeat 780px 40px; margin:-2em 0 0 0;}
.ie7 .community_globalnav {float:right;}
.community_globalnav li {display:inline-block;}
.ie7 .community_globalnav li {display:block; float:left;}
.community_globalnav a {color:#fff; display:block; padding:.1em .5em; border:1px solid #888; border-radius:15px; margin:0 .5em 0 0; font-size:.9em; background-color:rgba(0,0,0,.25);}
.community_globalnav .alert {border-radius:5px; border-color:transparent; background:#ee0000;}
/* NAV + INTRO BLURB + FLAT NAV */
.intro {display:block; margin:2em 0 1em 0;}
.blurb {float:left; text-align:right; margin:-6em 0 0 0; font-size:1.5em; clear:right;}
.blurb p { line-height:1.5em;}
.ie7 .blurb,.ie8 .blurb,.gecko .blurb {font-size:1.25em;}
.gecko .blurb p {line-height:2em;}
.blurb span {display:inline-block; color:#1799fe; padding:.25em  .5em .25em .5em; background:#000; box-shadow:0 1px 6px #555; line-height:1.3;}
.blurb em {font-style:normal; color:#fff;}
.nav {margin-top:-150px;}
.ie7 .nav {margin-top:-50px;}
.nav ul {list-style:none;}
.nav li {line-height:auto;}
.nav a {background:#F93; color:#fff; display:inline-block; padding:.25em  .5em .25em .5em; margin:1px; font-weight:400; line-height:1.5; box-shadow:0 1px 6px #555; text-shadow:0 1px 2px #000;}
.ie7 .nav a {display:block; float:left; clear:both;}
.nav .top {display:none;}
.ie7 .nav .top {display:none;}
.nav a:hover {background:#000; color:#1799FE; text-shadow:none;}
.nav.flat {float:none; width:100%; position:fixed; padding:0; background:#000; margin:0; border-bottom:1px solid rgba(255,255,255,.75);}
.nav.flat ul {width:970px; padding:10px 0 10px 0; margin:0 auto; text-align:center;}
.nav.flat li {display:inline-block; margin:5px 10px 5px 10px; padding:0; border:0; text-align:center;}
.ie7 .nav.flat li {display:block; float:left;}
.ie .nav.flat a {min-width:200px;}
.nav.flat a {display:block; color:#888; text-decoration:none; background:transparent; padding:0; font-weight:300; margin:0; box-shadow:none;}
.nav.flat a:hover {text-decoration:underline;}
.nav.flat a.current {background:none;}
.nav.flat .noncredit.current, .nav.flat .noncredit:hover {color:#EFB6F1;}
.nav.flat .special.current, .nav.flat .special:hover {color:#7EB684;}
.nav.flat .youth.current, .nav.flat .youth:hover {color:#B8E1FF;}
.nav.flat .degrees.current, .nav.flat .degrees:hover {color:#3399FE;}
.nav.flat .business.current, .nav.flat .business:hover {color:#F93;}
.ie7 .nav.flat .top {display:block;}
/* URGENT ALERTS */
.alerts {margin:0 0 -.5em 0; padding:0; line-height:auto;}
.alert {background:#ee0000; color:#fff; border-radius:5px; margin:0 .25em 0 .25em; padding:.25em .5em .25em .5em; border:1px solid transparent; text-shadow:0 1px 2px #000;}
.ie7 .alert {display:block; float:left;}
.alert:hover {border:1px solid #fff; box-shadow:0 0 20px #fff; text-decoration:none;}
/* AD COLLECTION */
.ads {background:#000; width:100%;}
/* VERTY SECTIONS */
.section {min-height:600px; border-top:1px solid rgba(255,255,255,.75); width:100%;}
.section ul {list-style:none; padding:0;}
.section li {line-height:1.1em; margin-bottom:1em;}
.section a {color:#222;}
/* section intro box */
.section_header {background:#000; background-color:rgba(0,0,0,.8); color:#fff; clear:both; padding:.5em .5em .5em .75em; margin:0 0 1em 0;}
.ie7 .section_header {background:#000;}
.section_header h3 {font-size:1.3em; margin:.25em 0 .25em 0; font-weight:300;}
.section_header p:first-of-type {margin:0; font-size:1em; margin:.5em 0 .5em 0;}
.section_header p:nth-of-type(2) {font-style:italic; margin:0; font-size:.8em; margin-bottom:.75em;}
.ie7 .section_header p, .ie8 .section_header p {margin:1em 0 0 0;}
/* common section styles */
#noncredit, #special, #youth, #business {background-image: -moz-radial-gradient(center top, circle cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */background-image: -webkit-gradient(radial, center top, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */background-image: -webkit-radial-gradient(center top, circle cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */background-image: -o-radial-gradient(center top, circle cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */background-image: -ms-radial-gradient(center top, circle cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */background-image: radial-gradient(center top, circle cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */}
.ie7 #noncredit, .ie7 #special, .ie7 #youth, .ie7 #business,
.ie8 #noncredit, .ie8 #special, .ie8 #youth, .ie8 #business, {background-image:none !important;}
/* individual section styles */
#noncredit {background-color:#ececfb;}
#noncredit h4 {margin-bottom:.25em;}
#special {background-color:#92b36f;}
#youth {background-color:#5b92a4;}
#degrees {background-color:#FFF;}
.ie7 #degress, .ie8 #degrees {background-image:none !important;}
.ie7 #degrees .container {height:500px;}
#degrees .button {color:#FFF; margin:0 0 3em 4em;}
.ie7 #degrees .button {display:block; width:90px;}
#business {background-color:#d8a05a;}
/* SPECIAL TYPOGRAPHY */
.new:after {content:'NEW!'; color:#FFF; display:inline-block; background:#ee0000; padding:0 .4em 0 .4em; margin:0 0 0 .75em; font-size:.75em; font-weight:700; line-height:1.75em}
.handwritten {font-family:"Nothing You Could Do"; font-size:1.5em; margin-bottom:0;}
.go_back {display:block; color:#fff; height:40px; width:100px; background:transparent url(../images/go_back.png) no-repeat bottom left; position:absolute; top:135px; text-align:center;}
/* move the main content area up */
#section {margin-top:3em;}
#section.hasmenu {float:none; width:auto;}

@media all and (max-width:960px){
#menutitle {margin:0 0 0 .25em; }
.community_globalnav {margin:1em; text-align:left;}
.blurb {width:45%; margin:-6em 0 0 0; background:#ccc;}
.alert {line-height:1.5em; margin:.25em; display:inline-block;}
.nav ul {margin:0; padding:0;}
.nav.flat ul {width:100%;}
.nav.flat li {display:block;}
.figure {overflow:hidden;}
}
@media all and (max-width:640px){
#degrees .button {display:block; width:95%; margin:0;}
.nav ul {padding:0; margin:0;}
.nav.flat {display:none !important;}
.nav a {display:block; width:100%; clear:both; margin:0;}
.nav {margin:0;}
.blurb {text-align:left; width:100%; float:none;}
.alert {line-height:1.5em; margin:.25em 0 0 0; display:block; width:100%;}
.ads {display:none !important;}
}
